<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NGO Listing</title>
</head>
<body>
    <ul>
        <% ngo_listing.map((ngo)=> { %>
            <a href="/food_details/showNgo/<%= ngo._id %>"><h1><li><%= ngo.name %></li></h1></a>
            <li><%= ngo._id %></li>
            <li><%= ngo.city %></li>
            <li><%= ngo.state %></li>
            <li><%= ngo.focus_area %></li>
            <li><%= ngo.email %></li>
            <li><%= ngo.contact %></li>
            <li><%= ngo.website %></li>
            <li><%= ngo.registration_year %></li>
            <br>
            <br>
            <br>
        <%})%>
    </ul>
</body>
</html>